.Game {
    display: flex;
    flex-flow: column;
  }

.GameTitle {
  font-size: 1.25em;
  margin-bottom: 2em;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 36.5em) {

  .GameTitle {
    font-size: 2em;
  }
}
